<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Second Hand Books
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Books
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/books" class="dropdown-item">
              Sell or Request a Book
            </a>

            <a href="/available_books" class="dropdown-item">
              Books for Sale
            </a>

            <a href="/requested_books" class="dropdown-item">
              Requested books
            </a>

          </div>
        </li>

    <% if @current_user != nil %>
    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Boooking & My Biddings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/my_books" class="dropdown-item">
              My Books
            </a>

            <a href="/bids" class="dropdown-item">
              My Biddings
            </a>


            <% end %>

          </div>

    <li>
    <% if @current_user != nil %>
    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Messages (Put a # of the messages)
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/messages" class="dropdown-item">
              Send or Read a Message 
            </a>




            <% end %>

          </div>
          </ul>
          </li>

          <li>
    <% if @current_user != nil %>
    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Profile (<%=@current_user.username %>)
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/edit_user" class="dropdown-item">
              Edit Profile 
            </a>


            <a href="/user_sign_out" class="dropdown-item">
              Sign Out
            </a>



            <% end %>

        </div>
      </ul>
  </li>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->

</nav>
