<% if @current_user != nil %>

<n>
<h2> 
You are currently signed it! 
</h2>
</n>


You can explore and interact with the website by looking:
<li>
at available books, 
adding a book you might want to sell, 
bidding on a book, or 
requesting a book
</li>


<% else %>

<h1>Sign in</h1>

<form action="/user_verify_credentials" method="post">
  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="email_from_query" placeholder="Enter your email..." type="text">
  </div>

  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="password_from_query" placeholder="Enter your password..." type="password">
  </div>

  <button>
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>

<% end %>
