<p><font color="CA97E8">
<n>
<h2>
Second Hand Books is a platform where you can buy and sell used books.
</h2>
</n>
</font>
</p>


<% if @current_user != nil %>

<p><font color="A0B3FF">
<n>
<h3> 
You are currently signed in as <%= @current_user.username %>!
</h3>
</n>
</font>
</p>


<p><font color="50568A">
<h4>
You can explore and interact with the website by:
</font>
</p>

<li>
looking at available books, 

<li>
adding a book you want to sell, 
</li>

<li>
bidding on a book, or
</li>

<li>
requesting a book
</li>

</h4>

<% else %>

<h1>Sign in</h1>

<form action="/user_verify_credentials" method="post">
  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="email_from_query" placeholder="Enter your email..." type="text">
  </div>

  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="password_from_query" placeholder="Enter your password..." type="password">
  </div>

  <button>
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>

<% end %>
